@import "../kochbuch.css";
body {
    background: rgb(176, 161, 245);
}
.menu{
    padding: 0;
}
.menu > li {
    display: inline-block;
}
.menu > li > .menu-main-title{
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer; background-color: lime;
}
.menu > li > ul {
    display: none;
    border: 1px solid black;
    padding: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
}
.menu > li:hover > ul{
    display: block;
    background-color: lime;
}
.menu > li > ul > li:not(:first-child){
    border-top: 1px solid black;
}